{% extends 'partials/_master.twig' %}

{% setcontent record = 'blocks/404-not-found' %}

{% block title %}
    {{ record.title|default('404 not found') }}
{% endblock title %}

{% block header %}
    {% include 'partials/_header.twig' %}
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">

        {# special case: See if we actually want the Styleguide. #}
        {% if app.request.server.get('REQUEST_URI') == '/styleguide' %}
            {{ include('styleguide.twig') }}
        {% else %}
            <h1>{{ record.title|default('404 not found') }}</h1>

            {% if fields(record) %}
                {{ fields(record) }}
            {% else %}
                <p>
                    The requested page was not found.
                </p>

                <div class="primary callout" data-closable>
                    <h5>Add a Blocks record with slug '404-not-found' to customize this message. </h5>
                    <p>If it's not showing up here, doublecheck that the <tt>slug</tt> is correct, and that the Block is published.</p>
                </div>
            {% endif %}

        {% endif %}

        </div>
    </div>
</div>
{% endblock main %}